<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited change!</h2>
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :division %>
      <%= f.text_field :division %>
    </div>

    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

    <%= link_to 'Cancel', root_path %>
<% end %>
