<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@team.errors.count, "error") %> prohibited change!</h5>
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.select :division, options_for_select(["Premier", "A", "B West", "B East", "C"]) %>
    </div>

    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <button class="btn blue-grey darken-1 waves-effect waves-light" id="button">
      <%= f.submit %>
    </button></br></br>

    <%= link_to 'Cancel', :team_list, class:"link" %>
<% end %>
