<div class="container">
  <% if current_user %>
    <h5>Edit <%= @team.name %>'s Info</h5>
    <%= render 'form' %>

    <!-- Create posts -->
    <h5>Post on <%= @team.name %>'s Page</h5>

    <%= form_for([@team, @post]) do |f| %>
      <% if @post.errors.any? %>
        <h5 class="error-header"><%= pluralize(@post.errors.count, "error") %> occurred!</h5>

        <ul class="error-list">
          <% @post.errors.full_messages.each do |msg| %>
            <li class="error-msg"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :author %>
        <%= f.text_field :author %>
      </div>

      <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :comment, placeholder: '500 char max' %>
      </div>

      <div class="field">
        <%= f.file_field :avatar %>
      </div></br>

      <%= f.hidden_field :team_id, value: @team.id %>

      <button class="btn blue-grey darken-1 waves-effect waves-light" id="button">
        <%= f.submit %>
      </button></br></br>

      <%= link_to 'Cancel', :team_list, class:"link" %>
    <% end %>

    <% if !@posts.nil? %>
      <!-- Edit & delete posts -->
      <h5>Edit <%= @team.name %>'s Posts</h5>
      <% @posts.each do |post| %>
        <%= link_to "#{post.title}", edit_post_url(post), class:"link" %>
        <p><%= post.comment %></p>
        <%= button_to "Delete", { controller: :posts, action: 'destroy', id: post.id }, method: :delete, data: { confirm: "Are you sure?" }, class:"btn red darken-3 waves-effect waves-light" %></br>
      <% end %>
    <% end %>

  <% else %>
    <h5>Unauthorized!</h5>
  <% end %>
</div></br>
