<div class="container">
  <h5>Teams</h5>
  <!-- Loop through team names and urls by division for specefic team stats links -->
  <div class="team-section">
    <div class='blue-grey darken-1 btn' id='team-header'>Premier</div>
    <ul>
      <% @teams.where(division: 'Premier').each do |t| %>
        <li><%= link_to "#{t.name}", team_url(t), class:"link" %></li>
      <% end %>
    </ul>
  </div>
  <div class="team-section">
    <div class='blue-grey darken-1 btn' id='team-header'>A</div>
    <ul>
      <% @teams.where(division: 'A').each do |t| %>
        <li><%= link_to "#{t.name}", team_url(t), class:"link" %></li>
      <% end %>
    </ul>
  </div>
  <div class="team-section">
    <div class='blue-grey darken-1 btn' id='team-header'>B West</div>
    <ul>
      <% @teams.where(division: 'B West').each do |t| %>
        <li><%= link_to "#{t.name}", team_url(t), class:"link" %></li>
      <% end %>
    </ul>
  </div>
  <div class="team-section">
    <div class='blue-grey darken-1 btn' id='team-header'>B East</div>
      <ul>
        <% @teams.where(division: 'B East').each do |t| %>
          <li><%= link_to "#{t.name}", team_url(t), class:"link" %></li>
        <% end %>
      </ul>
  </div>
  <div class="team-section">
    <div class='blue-grey darken-1 btn' id='team-header'>C</div>
    <ul>
      <% @teams.where(division: 'C').each do |t| %>
        <li><%= link_to "#{t.name}", team_url(t), class:"link" %></li>
      <% end %>
    </ul>
  </div>
</div></br>
