<div class="container">
  <h3>Team & Player Stats</h3>

  <p><%= link_to "League Team Stats (All Divisions)", "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php", target: '_blank' %></p>
  <p><%= link_to "League Individual Stats (All Division)", "http://www.yourleaguestats.com/darts/qsdl/league-stats.php", target: '_blank' %></p>

  <!-- Loop through team names and urls by division for specefic team stats links -->

  <!-- Dropdown Trigger -->
  <a class='dropdown-button blue-grey darken-1 btn' href='#' data-activates='dropdown1'>Division A</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <% @teams.where(division: "A").each do |t| %>
      <li><%= link_to "#{t.name}", "#{t.url}", target: '_blank' %></li>
    <% end %>
  </ul>
  <!-- Dropdown Trigger -->
  <a class='dropdown-button blue-grey darken-1 btn' href='#' data-activates='dropdown2'>Division B1</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown2' class='dropdown-content'>
  <% @teams.where(division: "B1").each do |t| %>
    <li><%= link_to "#{t.name}", "#{t.url}", target: '_blank' %></li>
  <% end %>
  </ul>
  <!-- Dropdown Trigger -->
  <a class='dropdown-button blue-grey darken-1 btn' href='#' data-activates='dropdown3'>Division B2</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown3' class='dropdown-content'>
  <% @teams.where(division: "B2").each do |t| %>
    <li><%= link_to "#{t.name}", "#{t.url}", target: '_blank' %></li>
  <% end %>
  </ul>
  <!-- Dropdown Trigger -->
  <a class='dropdown-button blue-grey darken-1 btn' href='#' data-activates='dropdown4'>Division C</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown4' class='dropdown-content'>
  <% @teams.where(division: "C").each do |t| %>
    <li><%= link_to "#{t.name}", "#{t.url}", target: '_blank' %></li>
  <% end %>
  </ul>
</div></br>
