<div class="container" style="text-align: center;">
  <h4 style="font-weight: bold;"><%= @team.name %></h4>

  <div class='third'>
    <!-- Team's Bar Info -->
    <h5>@<%= @bar.name %></h5>
    <%= image_tag @bar.avatar.url(:medium) %>
    <p><%= @bar.address %></p>
  </div>

  <div class='third'>
    <!-- Team Info -->
    <h5>About</h5>
    <% if !@team.url.empty? %>
      <p>
        <%= link_to @team.url, target: '_blank', class:'link' do %>
          Stats<i class="material-icons" id="footer-icon">launch</i>
        <% end %>
      </p>
    <% else %>
      <p>N/A</p>
    <% end %>
    <p>Division: <%= @team.division %></p>
  </div>

  <div class='third'>
    <!-- Posts -->
    <h5>Posts</h5>
    <% @posts.each do |post| %>
      <p><%= image_tag post.avatar.url(:medium), class:'post-image' %></p>
      <p><%= post.title %></p>
      <p><%= post.author %></p>
      <p><%= post.comment %></p>
    <% end %>
  </div>
</div>
