<div class="container">
  <h5>Login</h5></br>

  <%= form_tag login_path do %>
    <div class="field">
      <%= label_tag :email %><br/>
      <%= text_field_tag :email, params[:email] %>
    </div>

    <div class="field">
      <%= label_tag :password %><br/>
      <%= password_field_tag :password %>
    </div>

    <button class="btn blue-grey darken-1 waves-effect waves-light" id="button"><%= submit_tag "submit" %></button>
  <% end %>
</div></br>
