<% if current_user %>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l9">
      <div id="bars-top" class="section scrollspy">
        <h3>Manage Bar Info</h3>
      </div>

      <p><%= link_to "ADD BAR", new_bar_url %></p>

      <li class="divider"></li>

      <% @bars.each do |b| %>
        <%= div_for b, id:"#{b}", class:"section scrollspy" do %>
          <li class="backend-list"><%= link_to "#{b.name}", "/bars/#{b.id}/edit" %></li>
          <p><b>Updated:</b> <%= b.updated_at.strftime("%a, %B %d, %Y") %></p>
          <%= button_to "Delete", {controller: :bars, action: 'destroy', id: b.id }, method: :delete %></br>
          <li class="divider"></li>
        <% end %>
      <% end %>
    </div>
      <!-- Loop through bars to create scrollspy links -->
      <div class="col hide-on-small-only m3 l3 push right">
        <ul class="section table-of-contents">
          <p class="center">Content</p>
          <% @bars.each do |b| %>
            <li><%= link_to "#{b.name}", "#bar_#{b.id}" %></li>
          <% end %>
        </ul>
      </div>
  </div>


  <div class="fixed-action-btn">
    <%= link_to "TOP", "#bars-top", class:"btn-floating btn-large blue-grey darken-3 white-text" %>
  </div>

<% else %>
<div class="container">
  <h3>Unauthorized!</h3>
<% end %>
</div></br>
<!--
Popper's Pub near Bathurst/bloor
add images paper clip
make news
STYLE FLASHES & LISTS
MAKE FIXED BUTTON FOR USER LINKS-->
