<% if current_user %>
<div class="container">
  <h5>Edit Login Settings</h5>

  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@user.errors.count, "error") %> prohibited change!</h5>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.text_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation %>
      </div>

      <button class="btn blue-grey darken-1 waves-effect waves-light" id="button">
        <%= f.submit "save"%>
      </button></br></br>
  <% end %>

<% else %>
<div class="container">
  <h5>Unauthorized!</h5>
<% end %>
</div></br>
