<div class="container">
  <h3>Edit Settings</h3>

  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited change!</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.text_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation %>
      </div>

      <div class="actions">
        <%= f.submit "Save" %>
      </div>
  <% end %>
</div></br>

<% if current_user %>
<div class="fixed-action-btn toolbar" style="bottom: 45px; left: 24px;">
 <a class="btn-floating btn-large red">
   <i class="large material-icons">mode_edit</i>
 </a>
 <ul>
   <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
   <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
   <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
   <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
 </ul>
</div>
<% end %>
<%= link_to "Manage Teams", "/teams/team_list", class:"black-text right" %>
<%= link_to "Manage Bars--", "/bars/bar_list", class:"black-text right" %>
