<%= form_for(@new) do |f| %>
  <% if @new.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@new.errors.count, "error") %> prohibited change!</h5>
      <ul>
      <% @new.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <button class="btn blue-grey darken-1 waves-effect waves-light" id="button">
      <%= f.submit %>
    </button></br></br>

    <%= link_to 'Cancel', 'news/news_list', class:"link" %>
<% end %>
