<%= form_for(@new) do |f| %>
  <% if @new.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@new.errors.count, "error") %> prohibited change!</h5>
      <ul>
      <% @new.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Category %>
    <%= f.select :category, options_for_select(["Captains", "Players", "Tournaments"]) %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= f.label :paragraph_one %>
    <%= f.text_area :paragraph_one, required: true %>
  </div>

  <div class="field">
    <%= f.label :paragraph_two %>
    <%= f.text_area :paragraph_two %>
  </div>

  <div class="field">
    <%= f.label :paragraph_three %>
    <%= f.text_area :paragraph_three %>
  </div>

  <button class="btn blue-grey darken-1 waves-effect waves-light" id="button">
    <%= f.submit %>
  </button></br></br>

  <%= link_to 'Cancel', :news_list, class:"link" %>
<% end %>
