<div class="container">
  <h5>News</h5>
  <li class="divider"></li>
  <% @news.each do |article| %>
    <h5><%= article.title %></h5>
    <p class="article-content"><%= article.paragraph_one %><p>
    <p class="article-content"><%= article.paragraph_two %><p>
    <p class="article-content"><%= article.paragraph_three %><p>
    <b>Updated:</b> <%= article.updated_at.strftime("%a, %B %d, %Y") %>
    <li class="divider"></li>
  <% end %>
</div></br>
