<div class="container">
  <% if current_user %>
    <h5>Edit <%= @post.title %></h5>
    
    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <h5 class="error-header"><%= pluralize(@post.errors.count, "error") %> occurred!</h5>

        <ul class="error-list">
          <% @post.errors.full_messages.each do |msg| %>
            <li class="error-msg"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :author %>
        <%= f.text_field :author %>
      </div>

      <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :comment, placeholder: '500 char max' %>
      </div>

      <div class="field">
        <%= f.file_field :avatar %>
      </div></br>

      <button class="btn blue-grey darken-1 waves-effect waves-light" id="button">
        <%= f.submit %>
      </button></br></br>

      <%= link_to 'Cancel', edit_team_url(@team), class:"link" %>
    <% end %>

  <% else %>
    <h5>Unauthorized!</h5>
  <% end %>
</div></br>
