<!DOCTYPE html>
<html>
  <head>
    <title>QSDL</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--Import Google Icon Font *try src url('')-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <%= link_to image_tag("qsdl-logo.png"), "/", class:"brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <div class="container">
        <ul id ="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/pages/join">JOIN THE LEAGUE</a></li>
          <li><a href="/teams/index">TEAM & PLAYER STATS</a></li>
          <li><a href="/bars/index">SPONSORED BARS</a></li>
          <li><a href="/pages/downloads">DOWNLOADS</a></li>
          <li><a href="/pages/contact">CONTACT US</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/pages/home">HOME</a></li>
          <li class="divider"></li>
          <li><a href="/pages/join">JOIN THE LEAGUE</a></li>
          <li class="divider"></li>
          <li><a href="/teams/index">TEAM & PLAYER STATS</a></li>
          <li class="divider"></li>
          <li><a href="/bars/index">SPONSORED BARS</a></li>
          <li class="divider"></li>
          <li><a href="/pages/downloads">DOWNLOADS</a></li>
          <li class="divider"></li>
          <li><a href="/pages/contact">CONTACT US</a></li>
          <li class="divider"></li>
        </ul>
      </div>
    </div>
    </nav>

    </br><div class="container center-align">
      <%= yield %>
    </div>

    <footer class="page-footer blue-grey lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Queen Street Dart League</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Related Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/groups/qsdl.darts/" target='_blank'>Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="https://twitter.com/TorontoDarts" target='_blank'>Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.yourleaguestats.com/darts/qsdl" target='_blank'>Your League Stats</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.torontodarts.com/" target='_blank'>Toronto Darts</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 Queen Street Dart League
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
