<!DOCTYPE html>
<html>
  <%= favicon_link_tag 'favicon.ico'%>
  <head>
    <title>Queen Street Dart League</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="/" class="brand-logo left"><%= image_tag "logo.png", class: "logo" %></a> -->
        <%= link_to image_tag("logo.png"), "/", class:"brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id ="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/pages/join">JOIN THE LEAGUE</a></li>
          <li>
            <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php", target:'_blank' do %>
              LEAGUE STATS<i class="material-icons right" id="nav-icon">launch</i>
            <% end %>
          </li>
          <li><a href="/teams">TEAM & PLAYER STATS</a></li>
          <li><a href="/bars">SPONSORED BARS</a></li>
          <li><a href="/pages/downloads">DOWNLOADS</a></li>
          <li><%= link_to "NEWS", :news_index %></li>
          <li><a href="/pages/contact">CONTACT US</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/pages/home">HOME</a></li>
          <li class="divider"></li>
          <li><a href="/pages/join">JOIN THE LEAGUE</a></li>
          <li class="divider"></li>
          <li>
            <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php", target:'_blank' do %>
              LEAGUE STATS<i class="material-icons right" id="nav-icon">launch</i>
            <% end %>
          </li>
          <li class="divider"></li>
          <li><a href="/teams">TEAM & PLAYER STATS</a></li>
          <li class="divider"></li>
          <li><a href="/bars">SPONSORED BARS</a></li>
          <li class="divider"></li>
          <li><a href="/pages/downloads">DOWNLOADS</a></li>
          <li class="divider"></li>
          <li><%= link_to "NEWS", :news_index %></li>
          <li class="divider"></li>
          <li><a href="/pages/contact">CONTACT US</a></li>
          <li class="divider"></li>
        </ul>
      </div>
    </nav>
    
    <% if current_user %>
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <!-- <a href="/" class="brand-logo left"><%= image_tag "logo.png", class: "logo" %></a> -->
          <%= link_to image_tag("logo.png"), "/", class:"brand-logo" %>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id ="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">HOME</a></li>
            <li><a href="/pages/join">JOIN THE LEAGUE</a></li>
            <li><%= link_to "LEAGUE STATS", "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php", target:'_blank' %></li>
            <li><a href="/teams">TEAM & PLAYER STATS</a></li>
            <li><a href="/bars">SPONSORED BARS</a></li>
            <li><a href="/pages/downloads">DOWNLOADS</a></li>
            <li><%= link_to "NEWS", :news_index %></li>
            <li><a href="/pages/contact">CONTACT US</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/pages/home">HOME</a></li>
            <li class="divider"></li>
            <li><a href="/pages/join">JOIN THE LEAGUE</a></li>
            <li class="divider"></li>
            <li><%= link_to "LEAGUE STATS", "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php", target:'_blank' %></li>
            <li class="divider"></li>
            <li><a href="/teams">TEAM & PLAYER STATS</a></li>
            <li class="divider"></li>
            <li><a href="/bars">SPONSORED BARS</a></li>
            <li class="divider"></li>
            <li><a href="/pages/downloads">DOWNLOADS</a></li>
            <li class="divider"></li>
            <li><%= link_to "NEWS", :news_index %></li>
            <li class="divider"></li>
            <li><a href="/pages/contact">CONTACT US</a></li>
            <li class="divider"></li>
          </ul>
        </div>

        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#news">NEWS</a></li>
            <li class="tab"><a href="#teams">TEAMS</a></li>
            <li class="tab"><a href="#bars">BARS</a></li>
            <li class="tab"><a href="#account">ACCOUNT</a></li>
          </ul>
        </div>
      </nav>
      <div class="container center">
        <div id="news" class="col s12"><%= link_to "NEWS", "/news/news_list", class:"waves-effect waves-light btn blue-grey darken-4" %></div>
        <div id="teams" class="col s12"><%= link_to "TEAMS", "/teams/team_list", class:"waves-effect waves-light btn blue-grey darken-4" %></div>
        <div id="bars" class="col s12"><%= link_to "BARS", "/bars/bar_list", class:"waves-effect waves-light btn blue-grey darken-4" %></div>
        <div id="account" class="col s12"><%= link_to "ACCOUNT", "/users/#{session[:user_id]}/edit", class:"waves-effect waves-light btn blue-grey darken-4" %></div>
      </div>
    <% end %>

    <div class="container center">
    <% if flash[:notice] %>
      <h5 id="notice"><%= flash[:notice] %></h5>
    <% end %>
    <% if flash[:alert] %>
      <h5 id="alert"><%= flash[:alert] %></h5>
    <% end %>
    </div>

    <%= yield %>

    <li class="divider"></li>

    <footer class="page-footer white">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="black-text">Queen Street Dart League</h5>
            <p class="black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="black-text">Related Links</h5>
            <ul class="footer-list">
              <%= link_to image_tag('b-fb.png', class: "fb"), "https://www.facebook.com/groups/qsdl.darts", target:'_blank' %>
              <%= link_to image_tag('b-twitter.png', class: "twitter"), "https://twitter.com/TorontoDarts", target:'_blank' %>
              <li>
                <%= link_to "http://www.yourleaguestats.com/darts/qsdl", target:'_blank', class:"link" do %>
                  Your League Stats<i class="material-icons" id="link-icon">launch</i>
                <% end %>
              </li>
              <li>
                <%= link_to "http://www.torontodarts.com", target:'_blank', class:"link" do %>
                  Toronto Darts<i class="material-icons" id="link-icon">launch</i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container black-text">
          © 2017 Queen Street Dart League
          <% if current_user %>
            <%= link_to "Logout", :logout, class:"black-text right" %>
          <% else %>
            <%= link_to "Login", :login, class:"black-text right" %>
          <% end %>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
