<!DOCTYPE html>
<html>
  <%= favicon_link_tag 'favicon.ico' %>
  <head>
    <title>Queen Street Dart League</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="/" class="brand-logo left"><%= image_tag "logo.png", class: "logo" %></a> -->
        <%= link_to image_tag("logo.png"), "/", class:"brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id ="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">HOME</a></li>
          <li>
            <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-contact.php?type=jl", target: '_blank' do %>
              JOIN THE LEAGUE<i class="material-icons right" id="nav-icon">launch</i>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php", target:'_blank' do %>
              LEAGUE STATS<i class="material-icons right" id="nav-icon">launch</i>
            <% end %>
          </li>
          <li><a href="/teams">TEAM & PLAYER STATS</a></li>
          <li><a href="/bars">SPONSORED BARS</a></li>
          <li><a href="/pages/downloads">DOWNLOADS</a></li>
          <li><%= link_to "NEWS", :news_index %></li>
          <li><a href="/pages/contact">CONTACT US</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/pages/home">HOME</a></li>
          <li class="divider"></li>
          <li>
            <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-contact.php?type=jl", target: '_blank' do %>
              JOIN THE LEAGUE<i class="material-icons right" id="nav-icon">launch</i>
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "http://www.yourleaguestats.com/darts/qsdl/league-standings-full.php", target:'_blank' do %>
              LEAGUE STATS<i class="material-icons right" id="nav-icon">launch</i>
            <% end %>
          </li>
          <li class="divider"></li>
          <li><a href="/teams">TEAM & PLAYER STATS</a></li>
          <li class="divider"></li>
          <li><a href="/bars">SPONSORED BARS</a></li>
          <li class="divider"></li>
          <li><a href="/pages/downloads">DOWNLOADS</a></li>
          <li class="divider"></li>
          <li><%= link_to "NEWS", :news_index %></li>
          <li class="divider"></li>
          <li><a href="/pages/contact">CONTACT US</a></li>
          <li class="divider"></li>
        </ul>
      </div>
    </nav>

    <% if current_user %>
      <nav>
        <div class="nav-wrapper" id="admin-nav">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li class="nav-title"><i class="medium material-icons" id="nav-icon">mode_edit</i></li>
              <li><%= link_to "NEWS", "/news/news_list" %></li>
              <li><%= link_to "TEAMS", "/teams/team_list" %></li>
              <li><%= link_to "BARS", "/bars/bar_list" %></li>
              <li><%= link_to "ACCOUNT", "/users/#{session[:user_id]}/edit" %></li>
            </ul>
        </div>
      </nav>
    <% end %>

    <div class="container center">
    <% if flash[:notice] %>
      <h5 id="notice"><%= flash[:notice] %></h5>
    <% end %>
    <% if flash[:alert] %>
      <h5 id="alert"><%= flash[:alert] %></h5>
    <% end %>
    </div>

    <%= yield %>

    <li class="divider"></li>

    <footer class="page-footer white">
      <div class="container">
        <div class="row">
          <div class="col l6 s12" style='text-align: justify;'>
            <h5 class="black-text">Queen Street Dart League</h5>
            <p class="black-text">
              The Queen Street Dart League was founded in 1991 in Toronto. Comprised
              of players of all skill levels, we provide a forum for competitive league
              darts in the city. Bars, legions and restaurants make up our venues which
              span the GTA. We welcome players of all ages (18+), and skill levels.
              Beginners are definitely welcome! We have an intro level division just for you!
            </p>
            <p class="black-text">
              We have two seasons – Regular Season starts in late September to April and Summer
              Season starts in June and ends in August. Our playoffs cap off the season and the
              winners are recognized at an awards banquet. You can join anytime! Bring your
              friends or join and find new friends! We can’t wait to meet you!
            <p>
            <p class='black-text'>League play is Tuesdays and it is free to join!</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="black-text">Related Links</h5>
            <ul class="footer-list">
              <%= link_to image_tag('facebook-logo-button.svg', class: "fb"), "https://www.facebook.com/groups/qsdl.darts", target:'_blank' %>
              <%= link_to image_tag('twitter.svg', class: "twitter"), "https://twitter.com/TorontoDarts", target:'_blank' %>
              <li>
                <%= link_to "http://www.yourleaguestats.com/darts/qsdl", target:'_blank', class:"link" do %>
                  Your League Stats<i class="material-icons" id="link-icon">launch</i>
                <% end %>
              </li>
              <li>
                <%= link_to "http://www.torontodarts.com", target:'_blank', class:"link" do %>
                  Toronto Darts<i class="material-icons" id="link-icon">launch</i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container black-text">
          © 2017 Queen Street Dart League
          <% if current_user %>
            <%= link_to "Logout", :logout, class:"black-text right" %>
          <% else %>
            <%= link_to "Login", :login, class:"black-text right" %>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
